# /etc/systemd/system/harttv.service
[Unit]
Description=HartTV Node.js Application
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/harttv/app.js
Restart=always
User=www-user
Group=www-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/harttv

[Install]
WantedBy=multi-user.target
