body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.1rem;
    margin: 10px 0;
}

a.btn-primary {
    margin-top: 10px;
}

a.btn-primary:hover {
    background-color: #0056b3;
}

/* Grow the search bar input. */
.navbar .search-input {
    flex-grow: 1;
}

/* Styles that apply at the 'md' breakpoint and above */
@media (min-width: 768px) {
    .card-img-top {
        height: 360px;
        object-fit: cover;
    }
}
